/*=================================================
POSTS PODCAST NO SIDEBAR SCSS
=================================================== */


.module-no-sidebar {
	
	
	.home-posts-container {
		justify-content: flex-start;	
	}
	.home-posts-posts {
		width: 75%;
	}
	.story-image {
		min-width: 200px;
		min-height: 200px;
	}
	.story-content {
		width: 100%;
	}
	
	
}